[client]
port=3306
socket=/var/lib/mysql/data/mysql.sock
[mysqld]
#bind-address=10.142.66.15
datadir=/var/lib/mysql/data
character_set_server=utf8
default-storage-engine=innodb
#innodb_additional_mem_pool_size=40M
innodb_buffer_pool_size=3600M
innodb_data_file_path=ibdata1:10G:autoextend
innodb_data_home_dir=/var/lib/mysql/innodb/data
#innodb_file_io_threads=4
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=0
innodb_lock_wait_timeout=50
innodb_log_buffer_size=32M
innodb_log_file_size=256M
innodb_log_files_in_group=4
innodb_log_group_home_dir=/var/lib/mysql/innodb/log
innodb_thread_concurrency=8
interactive_timeout=31536000
#key_buffer=64M
#log_bin_trust_routine_creators=1
slow-query-log-file=/var/lib/mysql/mysqllog/slow-query.log
long_query_time=1
max_allowed_packet=64M
max_binlog_size=256M
myisam_sort_buffer_size=64M
port=3306
query_cache_size=32M
read_buffer_size=2M
relay-log=/var/lib/mysql/relay-log/relay-log.bin
#replicate-ignore-db=mysql
#replicate-wild-ignore-table=mysql.%
server_id=101426615
binlog-ignore-db="mysql"
skip-external-locking
#skip-grant-tables
#skip-locking
socket=/var/lib/mysql/data/mysql.sock
sort_buffer_size=2M
#table_cache=5120
#thread_cache=8
#thread_concurrency=8
tmpdir=/var/lib/mysql/tmp
wait_timeout=31536000
max_connect_errors=99999999
max_connections=5000
log_bin=/var/lib/mysql/mysqllog/binlog/binlog.bin
[mysql]
default-character-set=utf8
no-auto-rehash
port=3306
socket=/var/lib/mysql/data/mysql.sock
[mysqldump]
max_allowed_packet=64M
quick